<footer class="site-footer">
  <h2 class="footer-heading"><!--  {{ site.title }} --> </h2>

  <div class="row">
    <div class="column">
      {% include social-media-links.html %}
    </div>
    <div class="column"></div>
    
  </div>
  
  <div class="column">
    <p>{{ site.description }}</p>
  </div>


  <!-- lightbox -->
<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" href="/css/lightbox.css">

  <!-- webshop -->
<script type="text/javascript" src="/js/webshop.js"></script>

<script type="text/javascript">
    updateCartCount();
    {% if page.layout == 'cart' %}populateCart();{% endif %}
    {% if page.layout == 'checkout' %}initCheckoutForm(document.querySelector('#checkout form'));{% endif %}
    {% if page.layout == 'paylink' %}redirectToPayment('https://useplink.com/payment/test');{% endif %}
</script>



</footer>