<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img src="/img/banner.png"></a>
    
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">Travaux</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/actualites/">Actualités</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/biographie/">Biographie</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/demarche/">Démarche Artistique</a></li>
      <!--
       <li class="nav-item"><a href="{{ site.baseurl }}/illustrations/">Illustrations</a></li>
       -->
      <li class="nav-item"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
    </ul>
  </nav>

</header>
