<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

    <script src="https://www.paypal.com/sdk/js?client-id=ASDIqMCrwDzb9zhoDC2m3uKCbJMrLSk83EoKMMGTC9HTmK5xCfDZNdKWl2da82PWA4qa25maKEPHHmqX&currency=EUR&locale=fr_FR"></script>
    {% include styles.html %}

    {% seo %}

    {% include meta.html %}
</head>
