<header class="site-header">
  <!-- TODELET<a class="site-title" href="{{ site.baseurl }}"><img src="/img/banner.png"></a> -->
 
  <nav class="navbar">
    <ul>

      
      <li class="{% if page.logo %}{{ page.logo }} {% endif %}">
        <a class="{% if page.logo %}{{ page.logo }} {% endif %}" href="{{ site.baseurl }}/"> F A M</a>
      </li>
      
      <li class="nav-item">
        <a href="{{ site.baseurl }}/gallery" class="{% if page.menucolor %}{{ page.menucolor }} {% endif %}">Works</a>
      </li>
        <!-- <li class="nav-item">
          <a href="{{ site.baseurl }}/gallery/nft" class="{% if page.menucolor %}{{ page.menucolor }} {% endif %}">NFTs</a>
        </li> -->

        <li class="nav-item">
          <a href="{{ site.baseurl }}/about/"class="{% if page.menucolor %}{{ page.menucolor }} {% endif %}" >About </a>
          <!-- <ul class="dropdown">
            <li><a href="{{ site.baseurl }}/arts_plastiques/peinture">Peinture</a></li>
            <li><a href="{{ site.baseurl }}/arts_plastiques/dessin">Dessin</a></li>
            <li><a href="#">Sculpture</a></li>
          </ul> -->
        </li>
        
        <!-- <li class="nav-item">
          <a href="{{ site.baseurl }}/exhibitions/"class="{% if page.menucolor %}{{ page.menucolor }} {% endif %}" >Todelet Exhibitions </a>
        </li> -->
        <!-- TODELET <ul class="dropdown">
          <li><a href="{{ site.baseurl }}/arts_plastiques/peinture">Peinture</a></li>
          <li><a href="{{ site.baseurl }}/arts_plastiques/dessin">Dessin</a></li>
          <li><a href="#">Sculpture</a></li>
        </ul> -->
      
        <li class="nav-item">
          <a href="{{ site.baseurl }}/news" class="{% if page.menucolor %}{{ page.menucolor }} {% endif %}">Exhibitions</a>
        </li>

       <!-- <li class="nav-item">
        <a href="{{ site.baseurl }}/biography/"class="{% if page.menucolor %}{{ page.menucolor }} {% endif %}" >Todelet About </a>
      </li> -->

      <li class="nav-item">
        <a href="{{ site.baseurl }}/contact/"class="{% if page.menucolor %}{{ page.menucolor }} {% endif %}" >Contact </a>
      </li>

      <!--  <li class="nav-item"><a href="{{ site.baseurl }}/shop" class="{% if page.menucolor %}{{ page.menucolor }} {% endif %}">Shop</a>
      </li>  a remettre apres  quand je travails bien cette partie!! -->

      <!-- <li class="nav-item">
        <a href="{{ site.baseurl }}/about/"class="{% if page.menucolor %}{{ page.menucolor }} {% endif %}" >Blog</a>
      </li>  a remettre apres  quand je travails bien cette partie!! -->

    
      <!-- <li class="nav-item social-media-list">
        <a href="https://www.facebook.com/{{ site.facebook_username }}" class="{% if page.menucolor %}{{ page.menucolor }} {% endif %}"> 
          <i class="fab fa-facebook-square fa-lg"></i>
        </a>
      </li> -->
      <!-- <li class="nav-item social-media-list" >
        <a href="https://www.instagram.com/{{ site.instagram_username }}" class="{% if page.menucolor %}{{ page.menucolor }} {% endif %}"> 
                  
          <i class="fab fa-instagram-square fa-lg"></i>
         </a>
      </li> -->
      
    </ul>
  </nav>

</header>