<!-- Holder.js for client side placeholder images -->
<script defer src="{{ '/js/holder.js' | prepend: site.baseurl }}"></script>
<script>
    //paypal.Buttons().render('#paypal-button-container');

    paypal.Buttons({
        createOrder: function (data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: price
                    },
                    description: description
                }]
            });
        },
        onApprove: function (data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function (details) {
                // This function shows a transaction success message to your buyer.
                //alert('Transaction completed by ' + details.payer.name.given_name);
                $('#paypal-button-container').html('✅ Paiement validé, Mille Mercis ' + details.payer.name.given_name + 'pour votre commande');
            });
        }
    }).render('#paypal-button-container');
</script>