/**
 * Site header
 */

 .wrapper .container {
    //max-width: 80rem; modifié en commentaire par kowala
}

.site-header {
    text-align: center;
}

.navbar {
    display: block;
    text-align: right; 
    margin-right: 4rem;
    // text-align  and margin-right: 4rem; added by kowala
}

.logowhite{
    display: block;
    color: #e6e0d9;
    // text-align: left; 
    float:left;
    font-weight: 300;
    font-size: 3rem;
    padding-left: 20px;   
}

// ajouté par kowala 
a[name="moreinfo"] {
    background: black;
    color: #fff;
    padding: 2px 6px 2px 6px;
    width: 100%;
  }

    #posts {
    color: black;
  }
  #posts a {
    padding: 1rem;
    // text-transform: uppercase;
  }

  #details {
    vertical-align: top;
  }

  .separatornews {
    margin: 0rem 0rem 0rem 0rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(193, 193, 193), rgba(0, 0, 0, 0));
  }

  .current{
    margin-bottom: 0rem;
  }

  .upcomming{
    margin-bottom: 0rem;
  }


  .past{
    margin-bottom: 0rem;
  }

  .thumbnailcontainer {
    width:240px;
    height:240px;
  }
  

//   .current .upcomming{
//     margin-bottom: 0rem;
//   }
  
  // fin ajouté par kowala 

.logoblack {
    display: block;
    color: #000000;
    // text-align: left; 
    float:left;
    font-weight: 300;
    font-size: 3rem;
    padding-left: 20px;
}

.logowhite:hover {
    color:white;
  }
  
/**
 * menucolor je l'ai fait pour avoir cette couleur dans la page d'acceuil! 
 */
.menucolor
{
    color: #e6e0d9;
    
}


.navbarshop {
    display: block;
    text-align: center; 
    // text-align added by kowala
}

.nav-item {
    display: inline-block;
    padding: 1rem;
    
    
}

.post-nav {
    text-align: center;
    padding: 1rem;
}

.post-title {
    display: block;
    text-align: center;
}

/**
 * override column size for mobile
 */
@media (max-width: 40.0rem) {
    .row .column.column-33, .row .column.column-34 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    margin: 2rem 0;
    padding: 2rem 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Misc
 */
.preview-panel {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid $color-initial;
    
    &:hover {
        border: 1px solid $grey-color-light;
    }
}
