/**
 * Site header
 */

 .wrapper .container {
    max-width: 80rem;
}

.site-header {
    text-align: center;
}

.navbar {
    display: block;
    text-align: right; 
    // text-align added by kowala
}

.logowhite{
    display: block;
    color: #e6e0d9;
    // text-align: left; 
    float:left;
    font-weight: 300;
    font-size: 3rem;
    padding-left: 20px;   
}

.logoblack {
    display: block;
    color: #000000;
    // text-align: left; 
    float:left;
    font-weight: 300;
    font-size: 3rem;
    padding-left: 20px;
}

.logowhite:hover {
    color:white;
  }
  
/**
 * menucolor je l'ai fait pour avoir cette couleur dans la page d'acceuil! 
 */
.menucolor
{
    color: #e6e0d9;
    
}


.navbarshop {
    display: block;
    text-align: center; 
    // text-align added by kowala
}

.nav-item {
    display: inline-block;
    padding: 1rem;
    
    
}

.post-nav {
    text-align: center;
    padding: 1rem;
}

.post-title {
    display: block;
    text-align: center;
}

/**
 * override column size for mobile
 */
@media (max-width: 40.0rem) {
    .row .column.column-33, .row .column.column-34 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    margin: 2rem 0;
    padding: 2rem 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Misc
 */
.preview-panel {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid $color-initial;
    
    &:hover {
        border: 1px solid $grey-color-light;
    }
}
